<h2 class="title is-2">Studios</h2>

<div class="studios-container">
  <% @studios.each do |studio| %>
    <div class="studio-item">
      <%= link_to studio.name, studio, class: "studio-link" %>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @studios %> <!-- Pagination links -->
</div>

<!-- CSS -->
<style>
  .studios-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
  }

  .studio-item {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
  }

  .studio-link {
    color: #ffffff; /
    text-decoration: none;
    font-size: 1rem;
  }

  .studio-item:hover {
    background-color: #444;
    border-color: #ccc; /
  }

  .pagination {
    margin-top: 20px;
    text-align: left;
  }

  .pagination a {
    border: none;
    background: transparent;
    color: #3273dc;
    padding: 8px 12px;
    font-weight: normal;
    transition: color 0.3s; /* Smooth transition */
  }

  .pagination a:hover {
    color: #ff3860; /* Hover color */
    text-decoration: underline; /* Underline on hover */
  }

  .pagination .current {
    font-weight: bold;
    color: #ff3860;
    pointer-events: none;
  }
</style>
